In [2]:
import seaborn as sns
import numpy as np
import pandas as pd
import snscrape.modules.twitter as sntwitter

sns.set(rc = {'figure.figsize':(15, 7)})
sns.set_style('white')
pd.set_option('display.max_columns', 500)

### Scraping Twitter

In [40]:
def scrape_topics(topic, date_start='2022-07-31', date_end='2022-07-31'):

    # Creating list to append tweet data to
    tweets_list = []

    # Using TwitterSearchScraper to scrape data and append tweets to list
    for i,tweet in enumerate(
        sntwitter.TwitterHashtagScraper(f'{topic} since:{date_start}').get_items()
    ):
        if i>50000:
            break
        tweets_list.append([tweet.date, tweet.content])

    globals()[topic] = pd.DataFrame(tweets_list, columns=['Datetime', 'Text'])

In [41]:
topic = 'recession'

scrape_topics(topic, '2022-02-23', '2023-02-23')
globals()[topic].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic].head()

/var/folders/qp/1k1ym6rd1z34yt05vjspksl40000gn/T/ipykernel_71691/927944712.py:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content])

                   Datetime                                               Text
0 2023-02-24 04:52:49+00:00  (1+TCAinfla)/(1+TCAtc) es el cociente del crec...
1 2023-02-24 04:20:17+00:00  #recession #recession2k22 #currentnews #NewsTo...
2 2023-02-24 04:20:16+00:00  #recession #recession2k22 #currentnews #NewsTo...
3 2023-02-24 04:14:20+00:00  $ETH $BTC #Ethereum #Bitcoin #BigShort #recess...
4 2023-02-24 03:52:35+00:00  #Recession 101. If your talking about it, it’s...

In [45]:
topic = 'economy'

scrape_topics(topic, '2022-02-23', '2023-02-23')
globals()[topic].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic].head()

/var/folders/qp/1k1ym6rd1z34yt05vjspksl40000gn/T/ipykernel_71691/927944712.py:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content])

                   Datetime                                               Text
0 2023-02-24 07:00:25+00:00  "The Commodities Feed: Brent rebounds" - ING B...
1 2023-02-24 07:00:23+00:00  The effects of Indonesia’s technical barriers ...
2 2023-02-24 07:00:17+00:00  $GBX - White Brook Capital - Greenbrier: In An...
3 2023-02-24 07:00:07+00:00  US Industrial Production: Computers, video and...
4 2023-02-24 06:59:47+00:00  COMING UP @ 5 PM | 'Govt should acquire land &...

In [46]:
topic = 'unemployment'

scrape_topics(topic, '2022-02-23', '2023-02-23')
globals()[topic].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic].head()

/var/folders/qp/1k1ym6rd1z34yt05vjspksl40000gn/T/ipykernel_71691/927944712.py:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content])

                   Datetime                                               Text
0 2023-02-24 07:36:03+00:00  बेरोज़गार बानी साहेब रोजगार मांगीला... \n#neha...
1 2023-02-24 07:32:29+00:00  @_PTLB @IMPraveenDalal Indian economy has coll...
2 2023-02-24 07:14:17+00:00  https://t.co/prMYo88PgU\n\n#hunger #afganistan...
3 2023-02-24 06:57:40+00:00  बेरोज़गार बानी साहेब रोजगार मांगीला... \n#neha...
4 2023-02-24 06:51:43+00:00  बेरोज़गार बानी साहेब रोजगार मांगीला... \n#neha...

In [47]:
topic = 'inflation'

scrape_topics(topic, '2022-02-23', '2023-02-23')
globals()[topic].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic].head()

/var/folders/qp/1k1ym6rd1z34yt05vjspksl40000gn/T/ipykernel_71691/927944712.py:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content])

                   Datetime                                               Text
0 2023-02-24 08:19:51+00:00  Episcopal Church Retirement Savings Plans | Ch...
1 2023-02-24 08:19:35+00:00  La baisse du prix du gaz va-t-elle réduire vot...
2 2023-02-24 08:19:21+00:00  The coveted soft landing scenario is sidelined...
3 2023-02-24 08:18:45+00:00  No comment. #ECB #monetarypolicy #inflation #i...
4 2023-02-24 08:18:22+00:00  #Habeck macht Deutschland dunkel und arm. Dami...

In [48]:
topic = 'deflation'

scrape_topics(topic, '2022-02-23', '2023-02-23')
globals()[topic].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic].head()

/var/folders/qp/1k1ym6rd1z34yt05vjspksl40000gn/T/ipykernel_71691/927944712.py:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content])

                   Datetime                                               Text
0 2023-02-24 08:43:27+00:00  High gas leading to a sharp increase in the bu...
1 2023-02-24 06:13:58+00:00  holding #BHANDHANBANK 200 MAR put at 1.2 s.l. ...
2 2023-02-23 23:39:14+00:00  After years of #deflation #Japan finally has t...
3 2023-02-23 23:22:58+00:00  The Gold Standard in Theory and Myth by Joseph...
4 2023-02-23 23:18:55+00:00  Brilliant @LynAldenContact .\nA Century of Fis...

In [49]:
topic = 'interest_rates'

scrape_topics(topic, '2022-02-23', '2023-02-23')
globals()[topic].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic].head()

/var/folders/qp/1k1ym6rd1z34yt05vjspksl40000gn/T/ipykernel_71691/927944712.py:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content])

                   Datetime                                               Text
0 2023-02-24 08:51:14+00:00  Watch #MENA in a Minute as @sflivermore our #M...
1 2023-02-24 08:02:20+00:00  What Happened?\nU.S. #stocks climbed on Thursd...
2 2023-02-24 07:43:14+00:00  The #Dollar was set for its fourth straight we...
3 2023-02-24 07:24:52+00:00  When it comes to #Forex #trading, #interest #r...
4 2023-02-23 21:24:30+00:00  The central bank on Thursday cut its main inte...

In [50]:
topic = 'cryptocurrency'

scrape_topics(topic, '2022-02-23', '2023-02-23')
globals()[topic].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic].head()

/var/folders/qp/1k1ym6rd1z34yt05vjspksl40000gn/T/ipykernel_71691/927944712.py:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content])

                   Datetime                                               Text
0 2023-02-24 09:10:20+00:00  ✅ #PUMP $BNX! +0.944% in 15 seconds\nCurrent p...
1 2023-02-24 09:10:15+00:00  Max Pain Scenario for Bitcoin and Crypto Trade...
2 2023-02-24 09:10:13+00:00  Get ready to unleash your inner playooor and t...
3 2023-02-24 09:10:10+00:00  A Guide to Understanding the Basics of #ApeCoi...
4 2023-02-24 09:10:09+00:00  Analyst Who Accurately Predicted Crypto Bottom...