In [1]:
import seaborn as sns
import numpy as np
import pandas as pd
import snscrape.modules.twitter as sntwitter

sns.set(rc = {'figure.figsize':(15, 7)})
sns.set_style('white')
pd.set_option('display.max_columns', 500)

### Scraping Twitter

In [21]:
def scrape_topics(topic, num=50000, date_start='2022-01-23'):

    # Creating list to append tweet data to
    tweets_list = []

    # Using TwitterSearchScraper to scrape data and append tweets to list
    for idx, tweet in enumerate(sntwitter.TwitterSearchScraper(
        f'{topic} since:2022-02-01 until:2022-09-01').get_items()):
        

        if idx%10000 == 0:
            print(f'{idx} reached')
        if idx>num:
            break
        tweets_list.append([tweet.date, tweet.rawContent])

    globals()[topic.replace(' ', '_')] = pd.DataFrame(tweets_list, columns=['Datetime', 'Text'])

In [6]:
topics = ['inflation']

In [83]:
topics = ['recession', 'unemployment', 'interest rates', 'economy', 
          'cryptocurrency', 'inflation', 'us treasury', 'us bonds']
topics = ['cryptocurrency', 'inflation', 'bonds']

In [86]:
pd.read_csv('./data/scraped_topics/cryptocurrency.csv').dropna()

,Unnamed: 0,Datetime,Text
0,0,2023-02-26 22:54:02+00:00,#Crypto #Cryptocurrency #BTC #ETH #BNB #Solana...
1,1,2023-02-26 22:53:02+00:00,c03x found #bitcoin in a User vault at this lo...
2,2,2023-02-26 22:52:11+00:00,c03x found #bitcoin in a User vault at this lo...
3,3,2023-02-26 22:51:23+00:00,Happy Monday everyone!!!\n\nCheck out this wee...
4,4,2023-02-26 22:50:36+00:00,c03x found #ethereum in a User vault at this l...
...,...,...,...
635333,499996,2022-12-26 14:43:42+00:00,#Crypto #Cryptocurrency #BTC #ETH #BNB #Solana...
635334,499997,2022-12-26 14:43:33+00:00,#Ethereum price update: \n\n#ETH $1216.12 USD\...
635335,499998,2022-12-26 14:43:03+00:00,Bitcoin mining pool https://t.co/ndsT4HVEo2 re...
635336,499999,2022-12-26 14:43:03+00:00,#CryptoCurrency #France #cryptocurrencyexchang...
635337,500000,2022-12-26 14:43:02+00:00,Bitcoin mining pool https://t.co/T4lfxo6Los re...

In [23]:
infl = pd.read_csv(f'./data/scraped_topics/{topic.replace(" ", "_")}2.csv')

/var/folders/qp/1k1ym6rd1z34yt05vjspksl40000gn/T/ipykernel_47944/1121654004.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  infl = pd.read_csv(f'./data/scraped_topics/{topic.replace(" ", "_")}2.csv')

In [ ]:

for topic in topics:
    scrape_topics(topic, 500000)
    globals()[topic.replace(' ', '_')].to_csv(f'./data/scraped_topics/{topic.replace(" ", "_")}2.csv')
    print(f'{topic} successful.')

0 reached
10000 reached
20000 reached
30000 reached
40000 reached
50000 reached
60000 reached
70000 reached
80000 reached
90000 reached
100000 reached
110000 reached
120000 reached
130000 reached
140000 reached
150000 reached
160000 reached
170000 reached
180000 reached
190000 reached
200000 reached
210000 reached
220000 reached
230000 reached
240000 reached
250000 reached
260000 reached
270000 reached
280000 reached
290000 reached
300000 reached
310000 reached
320000 reached
330000 reached
340000 reached
350000 reached
360000 reached
370000 reached
380000 reached

In [8]:
inflation

Empty DataFrame
Columns: [Datetime, Text]
Index: []

In [11]:
topic = 'inflation'

scrape_topics(topic, '2022-02-23', '2023-09-23')
globals()[topic].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic].head()

Empty DataFrame
Columns: [Datetime, Text]
Index: []

In [45]:
topic = 'economy'

scrape_topics(topic, '2022-02-23', '2023-02-23')
globals()[topic].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic].head()

/var/folders/qp/1k1ym6rd1z34yt05vjspksl40000gn/T/ipykernel_71691/927944712.py:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content])

                   Datetime                                               Text
0 2023-02-24 07:00:25+00:00  "The Commodities Feed: Brent rebounds" - ING B...
1 2023-02-24 07:00:23+00:00  The effects of Indonesia‚Äôs technical barriers ...
2 2023-02-24 07:00:17+00:00  $GBX - White Brook Capital - Greenbrier: In An...
3 2023-02-24 07:00:07+00:00  US Industrial Production: Computers, video and...
4 2023-02-24 06:59:47+00:00  COMING UP @ 5 PM | 'Govt should acquire land &...

In [46]:
topic = 'unemployment'

scrape_topics(topic, '2022-02-23', '2023-02-23')
globals()[topic].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic].head()

/var/folders/qp/1k1ym6rd1z34yt05vjspksl40000gn/T/ipykernel_71691/927944712.py:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content])

                   Datetime                                               Text
0 2023-02-24 07:36:03+00:00  ‡§¨‡•á‡§∞‡•ã‡§ú‡§º‡§ó‡§æ‡§∞ ‡§¨‡§æ‡§®‡•Ä ‡§∏‡§æ‡§π‡•á‡§¨ ‡§∞‡•ã‡§ú‡§ó‡§æ‡§∞ ‡§Æ‡§æ‡§Ç‡§ó‡•Ä‡§≤‡§æ... \n#neha...
1 2023-02-24 07:32:29+00:00  @_PTLB @IMPraveenDalal Indian economy has coll...
2 2023-02-24 07:14:17+00:00  https://t.co/prMYo88PgU\n\n#hunger #afganistan...
3 2023-02-24 06:57:40+00:00  ‡§¨‡•á‡§∞‡•ã‡§ú‡§º‡§ó‡§æ‡§∞ ‡§¨‡§æ‡§®‡•Ä ‡§∏‡§æ‡§π‡•á‡§¨ ‡§∞‡•ã‡§ú‡§ó‡§æ‡§∞ ‡§Æ‡§æ‡§Ç‡§ó‡•Ä‡§≤‡§æ... \n#neha...
4 2023-02-24 06:51:43+00:00  ‡§¨‡•á‡§∞‡•ã‡§ú‡§º‡§ó‡§æ‡§∞ ‡§¨‡§æ‡§®‡•Ä ‡§∏‡§æ‡§π‡•á‡§¨ ‡§∞‡•ã‡§ú‡§ó‡§æ‡§∞ ‡§Æ‡§æ‡§Ç‡§ó‡•Ä‡§≤‡§æ... \n#neha...

In [ ]:
topic = 'inflation'

scrape_topics(topic, '2022-02-23', '2023-02-23')
globals()[topic].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic].head()

In [ ]:
topic = 'us treasury'

scrape_topics(topic, '2022-02-23', '2023-02-23')
globals()[topic].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic].head()

In [ ]:
topic = 'interest rates'

scrape_topics(topic, '2022-02-23', '2023-02-23')
globals()[topic.replace(' ', '_')].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic.replace(' ', '_')].head()

In [76]:
topic = 'us bonds'

scrape_topics(topic, '2022-02-23', '2023-02-23')
globals()[topic.replace(' ', '_')].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic.replace(' ', '_')].head()

/var/folders/qp/1k1ym6rd1z34yt05vjspksl40000gn/T/ipykernel_71691/3462443423.py:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content])

                   Datetime                                               Text
0 2023-02-24 23:20:43+00:00  ‚ö†Ô∏èüá∫üá∏#recession #us #economy\nbond market lays ...
1 2023-02-24 21:01:20+00:00  We know that wealth distribution in the #US is...
2 2023-02-24 18:08:16+00:00  Made a bond and from there it turned into ever...
3 2023-02-24 03:22:26+00:00  Good Morning\nMarket Crux\n#USDINR #Rupee #Ind...
4 2023-02-23 16:29:43+00:00  Wall Street's bond expert Jeffrey gundlach rec...