In [74]:
import seaborn as sns
import numpy as np
import pandas as pd
import snscrape.modules.twitter as sntwitter

sns.set(rc = {'figure.figsize':(15, 7)})
sns.set_style('white')
pd.set_option('display.max_columns', 500)

### Scraping Twitter

In [75]:
def scrape_topics(topic, date_start='2022-07-31', date_end='2022-07-31'):

    # Creating list to append tweet data to
    tweets_list = []

    # Using TwitterSearchScraper to scrape data and append tweets to list
    for i,tweet in enumerate(
        sntwitter.TwitterHashtagScraper(f'{topic} since:{date_start}').get_items()
    ):
        if i>50000:
            break
        tweets_list.append([tweet.date, tweet.content])

    globals()[topic.replace(' ', '_')] = pd.DataFrame(tweets_list, columns=['Datetime', 'Text'])

In [41]:
topic = 'recession'

scrape_topics(topic, '2022-02-23', '2023-02-23')
globals()[topic].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic].head()

/var/folders/qp/1k1ym6rd1z34yt05vjspksl40000gn/T/ipykernel_71691/927944712.py:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content])

                   Datetime                                               Text
0 2023-02-24 04:52:49+00:00  (1+TCAinfla)/(1+TCAtc) es el cociente del crec...
1 2023-02-24 04:20:17+00:00  #recession #recession2k22 #currentnews #NewsTo...
2 2023-02-24 04:20:16+00:00  #recession #recession2k22 #currentnews #NewsTo...
3 2023-02-24 04:14:20+00:00  $ETH $BTC #Ethereum #Bitcoin #BigShort #recess...
4 2023-02-24 03:52:35+00:00  #Recession 101. If your talking about it, it’s...

In [45]:
topic = 'economy'

scrape_topics(topic, '2022-02-23', '2023-02-23')
globals()[topic].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic].head()

/var/folders/qp/1k1ym6rd1z34yt05vjspksl40000gn/T/ipykernel_71691/927944712.py:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content])

                   Datetime                                               Text
0 2023-02-24 07:00:25+00:00  "The Commodities Feed: Brent rebounds" - ING B...
1 2023-02-24 07:00:23+00:00  The effects of Indonesia’s technical barriers ...
2 2023-02-24 07:00:17+00:00  $GBX - White Brook Capital - Greenbrier: In An...
3 2023-02-24 07:00:07+00:00  US Industrial Production: Computers, video and...
4 2023-02-24 06:59:47+00:00  COMING UP @ 5 PM | 'Govt should acquire land &...

In [46]:
topic = 'unemployment'

scrape_topics(topic, '2022-02-23', '2023-02-23')
globals()[topic].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic].head()

/var/folders/qp/1k1ym6rd1z34yt05vjspksl40000gn/T/ipykernel_71691/927944712.py:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content])

                   Datetime                                               Text
0 2023-02-24 07:36:03+00:00  बेरोज़गार बानी साहेब रोजगार मांगीला... \n#neha...
1 2023-02-24 07:32:29+00:00  @_PTLB @IMPraveenDalal Indian economy has coll...
2 2023-02-24 07:14:17+00:00  https://t.co/prMYo88PgU\n\n#hunger #afganistan...
3 2023-02-24 06:57:40+00:00  बेरोज़गार बानी साहेब रोजगार मांगीला... \n#neha...
4 2023-02-24 06:51:43+00:00  बेरोज़गार बानी साहेब रोजगार मांगीला... \n#neha...

In [ ]:
topic = 'inflation'

scrape_topics(topic, '2022-02-23', '2023-02-23')
globals()[topic].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic].head()

In [ ]:
topic = 'us treasury'

scrape_topics(topic, '2022-02-23', '2023-02-23')
globals()[topic].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic].head()

In [ ]:
topic = 'interest rates'

scrape_topics(topic, '2022-02-23', '2023-02-23')
globals()[topic.replace(' ', '_')].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic.replace(' ', '_')].head()

In [76]:
topic = 'us bonds'

scrape_topics(topic, '2022-02-23', '2023-02-23')
globals()[topic.replace(' ', '_')].to_csv(f'./data/scraped_topics/{topic}.csv')
globals()[topic.replace(' ', '_')].head()

/var/folders/qp/1k1ym6rd1z34yt05vjspksl40000gn/T/ipykernel_71691/3462443423.py:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.content])

                   Datetime                                               Text
0 2023-02-24 23:20:43+00:00  ⚠️🇺🇸#recession #us #economy\nbond market lays ...
1 2023-02-24 21:01:20+00:00  We know that wealth distribution in the #US is...
2 2023-02-24 18:08:16+00:00  Made a bond and from there it turned into ever...
3 2023-02-24 03:22:26+00:00  Good Morning\nMarket Crux\n#USDINR #Rupee #Ind...
4 2023-02-23 16:29:43+00:00  Wall Street's bond expert Jeffrey gundlach rec...